.footer{
	/*background-color: #3170b7;*/
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(118,118,177,0.478085994720459) 72%, rgba(74,122,175,1) 100%);
	height: 10vh;
}
#copyright{
	display: flex;
	justify-content: center;
	padding-top: 4vh;
	color: white;
}